<% content_for :title, t("nav.sign_in") %>

<%= render "shared/page_header", title: t("nav.sign_in") %>

<%= form_with url: session_url, class: "card bg-white shadow max-w-md mx-auto" do |f| %>
  <div class="card-body">
    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:email_address) %>"><%= t("profile.fields.email_address") %></label>
      <%= f.email_field :email_address,
            value: params[:email_address],
            required: true,
            autofocus: true,
            autocomplete: "username",
            class: "input input-bordered w-full" %>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:password) %>"><%= t("auth.password") %></label>
      <%= f.password_field :password,
            required: true,
            autocomplete: "current-password",
            maxlength: 72,
            class: "input input-bordered w-full" %>
    </fieldset>

    <div class="card-actions justify-between items-center pt-2">
      <%= link_to t("auth.forgot_password"), new_password_path, class: "link link-hover text-sm opacity-70" %>
      <%= f.submit t("nav.sign_in"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
