<% content_for :title, t("registrations.title") %>

<%= render "shared/page_header", title: t("registrations.title") %>

<%= form_with model: @user, url: registration_path, class: "card bg-white shadow max-w-md mx-auto" do |f| %>
  <div class="card-body">
    <% if @user.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:name) %>"><%= t("profile.fields.name") %></label>
      <%= f.text_field :name, class: "input input-bordered w-full", required: true %>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:email_address) %>"><%= t("profile.fields.email_address") %></label>
      <%= f.email_field :email_address, class: "input input-bordered w-full", required: true, autocomplete: "username" %>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:password) %>"><%= t("auth.password") %></label>
      <%= f.password_field :password, class: "input input-bordered w-full", required: true, autocomplete: "new-password", maxlength: 72 %>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:password_confirmation) %>"><%= t("auth.repeat_password") %></label>
      <%= f.password_field :password_confirmation, class: "input input-bordered w-full", required: true, autocomplete: "new-password", maxlength: 72 %>
    </fieldset>

    <fieldset class="fieldset">
      <label class="label cursor-pointer justify-start gap-2">
        <%= f.check_box :privacy_accepted, { class: "checkbox" }, "1", "0" %>
        <span><%= t("registrations.privacy_accept") %></span>
      </label>
    </fieldset>

    <div class="card-actions justify-end pt-2">
      <%= f.submit t("registrations.submit"), class: "btn btn-primary" %>
    </div>

    <p class="text-sm text-center opacity-70 pt-2">
      <%= t("registrations.have_account") %>
      <%= link_to t("nav.sign_in"), new_session_path, class: "link" %>
    </p>
  </div>
<% end %>
