<% content_for :title, t("auth.password_reset_title") %>

<%= render "shared/page_header", title: t("auth.password_reset_title") %>

<%= form_with url: passwords_path, class: "card bg-base-100 shadow max-w-md mx-auto" do |f| %>
  <div class="card-body">
    <fieldset class="fieldset">
      <label class="label" for="<%= f.field_id(:email_address) %>"><%= t("profile.fields.email_address") %></label>
      <%= f.email_field :email_address,
            value: params[:email_address],
            required: true,
            autofocus: true,
            autocomplete: "username",
            class: "input input-bordered w-full" %>
    </fieldset>

    <div class="card-actions justify-end pt-2">
      <%= f.submit t("auth.password_reset_submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
