<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light" class="h-full">
  <head>
    <title><%= content_for(:title) || "Homologation" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  </head>
  <body class="h-full flex flex-col bg-base-200">
    <%= render "layouts/navbar" %>
    <%= render "shared/flash" %>
    <main class="container mx-auto px-4 py-6 flex-1 min-h-0">
      <%= yield %>
    </main>
  </body>
</html>
